// Place all the styles related to the weapons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  padding: 0px;
  margin: 0px;
}

html {
  font-family: -apple-system, Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 17pt;
}

select {
  height: 30px;
  border-color: #ccc;
  border-radius: 30px;
  padding: 8px 12px 6px;
  outline: none;
  font-size: 15pt;
}

form {
  padding: 30px;
  text-align: center;
}

a {
  color: #007;
  text-decoration: none;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

tr.active:hover {
  background-color: #ddf;
}

td, th {
  padding: 5px;
}

td.name, th.name {
  min-width: 300px;
  width: 300px;
  text-align: left;
}

td.tier, th.tier {
  min-width: 45px;
  width: 45px;
  text-align: center;
}

td.stat, th.stat {
  min-width: 75px;
  width: 75px;
  text-align: right;
}

.even {
  background-color: #fff;
}

.odd {
  background-color: #ddd;
}

.hide {
  display: none;
}

.Uncommon {
  background-color: #5cb370;
}

.Exotic {
  background-color: #fdd944;
}

.Common {
  background-color: #ddd6cd;
}

.Basic {
}

.Legendary {
  background-color: #a465ca;
}

.Rare {
  background-color: #6a9bd4;
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  bottom: auto;
  border-bottom: 1px solid black;
}

.outer {
  background-color: #fff;
  position: relative;
  height: 130px;
}

.outer .header {
  position: absolute;
  bottom: 0;
  z-index: 2;
  top: auto;
}
